<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Mantenimiento de Productos</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>

	<div class="container">
		<div class="row">
				<div class="col-6 col-sm-4">
		<h1>Mantenimiento de Productos</h1>
		<form action="/grabar" method="post" th:object="${producto}">
			
			<div class="form-group">
				<label for="inputCod">Código</label> 
				<input type="text" th:field="*{id_prod}"
					class="form-control" id="inputCod" placeholder="Código">
			</div>
			<div class="form-group">
				<label for="inputNom">Nombre</label> 
				<input type="text" th:field="*{des_prod}"
					class="form-control" id="inputNom"
					placeholder="Nombre">
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputStk">Stock</label> 
					<input type="number" th:field="*{stk_prod}"
						class="form-control" id="inputStk" placeholder="0">
				</div>
				<div class="form-group col-md-6">
					<label for="inputPrec">Precio</label> 
					<input type="number" step="0.01" th:field="*{pre_prod}"  
						class="form-control" id="inputPrec" placeholder="0.00">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="inputCat">Categoría</label> 
					<select id="inputCat" class="form-control" th:field="*{idcategoria}">
						<option value="-1">Seleccione...</option>
						<!--   for( Clase v : lista)     -->
						<option th:each="c : ${lstCategorias}" th:value="${c.idcategoria}" th:text="${c.descripcion}"></option>
						
					</select>
					
				</div>
				<div class="form-group col-md-4">
					<label for="inputEstado">Estado</label> 
					<select id="inputEstado" class="form-control" th:field="*{est_prod}" >
						<option value="-1">Seleccione...</option>
						<option value="1">Activo</option>
						<option value="0">Eliminado</option>
					</select>
				</div>
				<div class="form-group col-md-4">
					<label for="inputProv">Proveedor</label> 
					<select id="inputProv" class="form-control"  th:field="*{idproveedor}"   >
						<option value="-1">Seleccione...</option>
						<option value="1">Proveedor 1</option>
						<option value="2">Proveedor 2</option>
						<option value="3">Proveedor 3</option>
					</select>
				</div>
			</div>
			
			<button type="submit" class="btn btn-warning" name = "btn_Opcion" value = "reg" >Registrar</button>
			<a href="/cargar" class="btn btn-primary ">Nuevo</a>
			<a href="/reportes" class="btn btn-primary " target = "_blank">Reporte PDF</a>
			<a href="/graficos" class="btn btn-primary " target = "_blank">Grafico PDF</a>
			<!-- <a href="/filtros" class="btn btn-primary " target = "_blank">filtros PDF</a> -->
			<button type="submit" class="btn btn-warning" name = "btn_Opcion" value = "fil">Filtro PDF</button>
			
			<div th:text="${Mensaje}" th:class="${cssMensaje}" role="alert"></div>
		</form>
		<div th:text="${mensaje}"></div>
	</div>
	<div class="col-6 col-sm-7">
				<h3></h3>
				<table class="table">
					<thead>
						<tr>
							<th>Id</th>
							<th>Nombre del producto</th>
							<th>Stock</th>
							<th>P.U</th>
							<th>Categoría</th>
							<th>Funciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${lstProductos}">
							<th scope="row" th:text="${p.id_prod}">1</th>
							<td th:text="${p.des_prod}">xx</td>
							<td th:text="${p.stk_prod}"></td>
							<td th:text="${p.pre_prod}"></td>
							<td th:text="${p.objCategoria.descripcion}">xx</td>
							<td>
								<a th:href="@{/editar/}+${p.id_prod}" class="btn btn-warning">Editar</a>
								<a th:href="@{/eliminar/}+${p.id_prod}" class="btn btn-warning">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" ></script>
</html>